/* style.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('static/img/image1.png');
  background-size: cover;
  background-position: center;
}

h1, h2, h3 {
  margin: 0;
}

/* Header Styles */
header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #555;
}

/* Hero Section Styles */
.hero {
  background-image: url('/static/img/image1.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: black;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #ddd;
}

/* Features Section Styles */
.features {
  padding: 50px 0;
  text-align: center;
}

.feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}

/* Footer Styles */
footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}