body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/static/img/image2.png');
  background-size: cover;
  background-position: center;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
#main-page{
  padding: 15px 10px;
  border-radius: 5px;
  background-color: black;
  transform: scale(1.1);
}

/* Dashboard section styles */
.dashboard {
  padding: 100px 0;
  text-align: center;
}

.dashboard h2 {
  font-size: 35px;
  color: lightgray;
}

.content {
  display: flex;
  justify-content: space-between;
  color: white;
}

.dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 30%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: black;
  transition: transform 0.3s ease;
}
.dashboard-item:hover {
  transform: scale(1.1);
  background-color: lightgray;
}

.dashboard-item a{
  text-decoration: none;
  color: white;
}

.dashboard-item a:hover{
  color: lightgoldenrodyellow;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
}
.nav-item a:hover {
  background-color: black;
  transform: scale(1.1);
}
.nav-item li {
  display: inline-block;
  margin-top: 10px;
}
.nav-links {
  list-style: none;
  padding: 0;
  margin-left: 25%;
  margin-top: 20px;
}

.nav-right {
  margin-left: 70%;
  text-decoration: underline;
}
.nav-right a:hover {
  color: lightgray;
}

/* Footer styles */
footer {
  background-color: #333;
  margin-top: 20%;
  padding: 20px;
  text-align: center;
}

.group {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.group:hover {
  background-color: darkgreen;
}

.group h3 {
  font-size: 25px;
  margin-bottom: 10px;
  color: lightseagreen;
}

.group p {
  margin-bottom: 10px;
}
.h2{
  color: white;
  font-size: 35px;
}


.content-section {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 5px;
}

/* Styles for form labels */
.form-control-label {
  font-weight: bold;
}

/* Styles for form inputs */
.form-control {
  margin-bottom: 15px;
}

/* Styles for the submit button */
.btn-creategroup {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #333;
  border: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.btn-creategroup:hover {
  background-color: #555;
}

/* Styles for the "Forgot Password?" link */
.text-muted a {
  color: gray;
  text-decoration: none;
}

.text-muted a:hover {
  text-decoration: underline;
}

/* Styles for the "Need An Account?" section */
.border-top {
  margin-top: 20px;
  padding-top: 10px;
}