<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}
    ALX Study Buddy Hub
    {% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h1>ALX Study Buddy Hub</h1>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 ALX Study Buddy Hub. All rights reserved.</p>
  </footer>
</body>
</html>