{% extends 'base.html' %}

{% block head %}
  <title>Dashboard | ALX Study Buddy Hub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block header %}
<header>
  <nav>
    <div class="logo">
      <h1>ALX Study Buddy Hub</h1>
    </div>
    <ul class="nav-right">
      <li class="nav-right"><a href="/signout">Sign Out</a></li>
    </ul>
    <ul class="nav-links">
      <li class="nav-item" id="main-page"><a href="/">Dashboard</a></li>
      <li class="nav-item"><a href="/groups">Study Groups</a></li>
      <li class="nav-item"><a href="/create_groups">Create Groups</a></li>
      <li class="nav-item"><a href="/forums">Forum</a></li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block content %}
<section class="dashboard">
  <h2>Welcome to Your Dashboard</h2>
  <div class="content">
    <div class="dashboard-item">
      <a href="/groups"><h3>Study Groups</h3>
      <p>Join and participate in study groups to collaborate and learn together.</p></a>
    </div>
    <div class="dashboard-item">
      <a href="/forum"><h3>Discussion Forums</h3>
      <p>Engage in threaded conversations and ask questions to share knowledge.</p></a>
    </div>
    <div class="dashboard-item">
      <a href="/create-group"><h3>Create Groups</h3>
      <p>Create your own study groups and invite others to join for collaborative learning.</p></a>
    </div>
  </div>
</section>
{% endblock %}