{% extends 'base.html' %}

{% block head %}
  <title>Dashboard | ALX Study Buddy Hub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block header %}
<header>
  <nav>
    <div class="logo">
      <h1>ALX Study Buddy Hub</h1>
    </div>
    <ul class="nav-right">
      <li class="nav-right"><a href="/signout">Sign Out</a></li>
    </ul>
    <ul class="nav-links">
      <li class="nav-item" id="main-page"><a href="/groups">Posts</a></li>
      <li class="nav-item"><a href="/">Create Post</a></li>
      <li class="nav-item"><a href="/">Delete Post</a></li>
      <li class="nav-item"><a href="/">My Posts</a></li>
    </ul>
  </nav>
</header>
{% endblock %}
{% block content %}
<section class="group-list">
  <h2>Posts</h2>
  <ul>
    {% for post in posts %}
    <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}