<!DOCTYPE html>
<html>
<head>
  <title>ALX Study Buddy Hub - Study Group</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h1>ALX Study Buddy Hub</h1>
      </div>
      <ul class="nav-right">
        <li class="nav-right"><a href="/signout">Sign Out</a></li>
      </ul>
      <ul class="nav-links">
        <li class="nav-item"><a href="Dashboard.html">Dashboard</a></li>
        <li class="nav-item" id="main-page"><a href="#">Study Groups</a></li>
        <li class="nav-item"><a href="create_group.html">Create Groups</a></li>
        <li class="nav-item"><a href="/notifications">Notifications</a></li>
        <li class="nav-item"><a href="forum.html">Forum</a></li>
      </ul>
    </nav>
  </header>

  <section class="group-details">
    <h2 class="h2">Study Group - Group Name</h2>
    <div class="group">
      <h3 class="h3">Group 1</h3>
      <p>Description of Group 1.</p>
    </div>

    <div class="group">
      <h3 class="h3">Group 2</h3>
      <p>Description of Group 2.</p>
    </div>

    <div class="group">
      <h3 class="h3">Group 3</h3>
      <p>Description of Group 3.</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 ALX Study Buddy Hub. All rights reserved.</p>
  </footer>
</body>
</html>